<div style="display: flex; flex-direction: column;">
  <mat-form-field>
      <input matInput [(ngModel)]="question" placeholder="Question?"/>
  </mat-form-field>
  <mat-form-field *ngFor="let option of options; let idx = index">
    <!-- Call 'blur' when Enter is pressed, as the element may be deleted causing blur to be retriggered invalidly -->
    <input matInput placeholder="Option {{idx + 1}}" [(ngModel)]="options[idx]"
      (keyup.enter)="$event.target.blur()"
      (blur)="onUpdateOption(idx)"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="New option" #nextOptionText
      (keyup.enter)="addOption(nextOptionText.value); nextOptionText.value=''"
      (blur)="addOption(nextOptionText.value); nextOptionText.value=''">
  </mat-form-field>
  <button mat-button disabled="{{!pollIsValid()}}" (click)="submitPoll()">Create your poll!</button>
</div>
